[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
nltk = "*"
hdbscan = "*"
Flask = "*"
marshmallow = "*"
bokeh = "*"
hfst = "*"
"flake8" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
